@font-face {
  font-family: GillSans;
  font-weight: normal;
  src: url("https://cdn1.netlify.com/gill-sans/GillSansStd.otf") format("opentype");
}


@font-face {
 font-family: GillSans; 
 font-weight: bold;
 src: url("https://cdn1.netlify.com/gill-sans/GillSansStd-Bold.otf") format("opentype");
}

@font-face {
 font-family: GillSans; 
 font-weight: italic;
 src: url("https://cdn1.netlify.com/gill-sans/GillSansStd-Italic.otf") format("opentype");
}

@font-face {
 font-family: GillSans; 
 font-weight: lighter;
 src: url("https://cdn1.netlify.com/gill-sans/GillSansStd-Light.otf") format("opentype");
}

@font-face {
 font-family: GillSans; 
 font-weight: bolder;
 src: url("https://cdn1.netlify.com/gill-sans/GillSansStd-ExtraBold.otf") format("opentype");
}

@font-face {
 font-family: GillSans; 
 font-weight: 900;
 src: url("https://cdn1.netlify.com/gill-sans/GillSansStd-ExtraBoldDisp.otf") format("opentype");
}


@font-face {
 font-family: GillSans; 
 font-weight: 600;
 src: url("https://cdn1.netlify.com/gill-sans/GillSansStd-BoldItalic.otf") format("opentype");
}
