
@import url(//cdn1.netlify.com/GillSans.css);




html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
}


body {
  font-family: "GillSans", serif;
  font-size: 16px;
  color: #222222;
  line-height: 1.4em;
  background-color: white;
  padding-bottom: 3em;
}


a {
  color: #2277dd;
  transition: 0.5s;
}

a:hover, a:active {
  color: #dd2211;
}

blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 0;
  border-left: 1em solid #eeeeee;
  padding-left: 1em;
  padding-right: 3em;
}

/* line 40, ../scss/clipboard.scss */
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


footer {
  color: #888888;
}

footer p {
  text-align: center;
}

footer p a {
  color: inherit;
}

footer p a:hover, footer p a:active {
  color: #2277dd;
}